body {
    color: black;
    font-family: "Roboto", sans-serif;
}

.container {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

header {
    margin: 10px;
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 70px;
    transition: 0.3s;
    position: relative;
    animation: btnmove 2s ease-in-out infinite alternate;
    cursor: pointer;
}

.btn:hover {
    background-color: skyblue;
    animation-play-state: paused;
}

@keyframes btnmove {
  0% {
    transform: translateY(0);   
  }
  100% {
    transform: translateY(-20px);  
  }
}

.btn_hero {
position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  padding: 6px 12px;
  font-weight: bold;
  border: none;
  color: white;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.btn_hero:hover {
    transform: scale(1.2);
    
}

@keyframes scaleBtn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.container {
  opacity: 0;                 
  transform: translateY(50px); 
  animation: fadeUp 1s ease-out forwards;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
